body{
    background-color: #F97931;
}

.title {
    font-family: 'Lobster', cursive;
    color:#fff;
    font-size: 35px;
}

.titles_list{
    text-align: center;
    margin:20px;
    color: white;
    font-size: 26px;
    margin: 20px 0px;
    font-weight: bold;
    text-decoration: solid;
}

.list h2{
    height:1.2em;
    font-size: 18px;
    margin: 5px ;
}

.list .todos{
    height:70vh;
    overflow-y: scroll;
}

.lists-container{
    width: 100%;
    overflow-x: scroll;
}

.infinite-width{
    white-space: nowrap;
}

.new-list input[type='submit']{
    margin-top:0.8em; 
}

.lists > div {
    background-color: #8E3300 ;
    display: inline-block;
    width: 300px;
    vertical-align: top;
    margin-right: 1em;
    padding: 10px;
}

.new-list{
    padding: 1em;
}

.card{
    padding: 10px;
    background-color: white;
    margin-top: 10px;
    border-bottom: 2px solid #ccc;
    border-radius: 4px;
}

.from-hide{
    display: none;

}